body{
    width: 1440px;
    overflow-x: hidden;
}
.box{
    width: 1400px;
    margin: 0 auto;
    position: relative;
}
.banner{
    width: 1400px;
    position: relative;
    margin: 0 auto;
    height: 770px;
    overflow: hidden;
    padding-top: 20px;
    
}
.banner_border{
    position: absolute;
    width: 1402px;
    height: 752px;
    left: -1px;
    top:19.5px;
    z-index: 1001;
}
.banner_border:hover{
    animation: banner;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes banner{
    0%{
        border: 0;
        border-top: 2.5px solid white;
        border-right: 2.5px solid white;
    }
    25%{
        border: 0;
        border-right: 2.5px solid white;
        border-bottom: 2.5px solid white;
    }
    50%{
        border: 0;
        border-bottom: 2.5px solid white;
        border-left: 2.5px solid white;
    }
    75%{
        border: 0;
        border-left: 2.5px solid white;
        border-top: 2.5px solid white;
    }
    100%{
        border: 0;
        border-top: 2.5px solid white;
        border-right: 2.5px solid white;
    }
}
.img-all{
    display: flex;
    position: absolute;
    width: 1400px;
}
.img-all img{
    z-index: 1000;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.block-all{
    z-index: 1001;
    position: absolute;
    left: 638px;
    bottom: 5px;
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
}
.block{
    width: 16px;
    height: 16px;
    border: 1px solid white;
    border-radius: 16px;
}
.block:hover{
    background: white;
    cursor: pointer;
}
.main-all{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.column{
    width: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}
.main{
    width: 1000px;
    height: 1340px;
    overflow: scroll;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
}
.content{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255,255,255,0.25);
    margin-top: 25px;
    border-radius: 20px;
}
.img{
    width: 480px;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.img-car{
    display: flex;
    position: absolute;
    left: 0;
}
.img-car>img{
    width: 480px;
    height: 350px;
    border-radius: 10px;
    z-index: 996;
}
.arrow>img{
    z-index: 997;
    position: absolute;
    animation: jump;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}
@keyframes jump{
    0%{
        width: 57.59px;
    }
    50%{
        width: 62px;
    }
    100%{
        width: 57.59px;
    }
}
.left{
    top:142.6px;
    left: 2px;
    width: 12%;
    transform: rotate(90deg);
}
.right{
    top:142.6px;
    right: 2px;
    width: 12%;
    transform: rotate(270deg);
}
.left:hover,.right:hover{
    cursor: pointer;
}
.text{
    width: 450px;
    height: 350px;
    position: relative;
    color: rgba(255,255,255,0.85);
}
.text a{
    text-decoration: none;
    text-align: center;
    font-size: 32px;
    line-height: 2;
    color: rgba(255,255,255,0.95);
    display: block;
}
.text a:hover{
   cursor: pointer;
   text-decoration: underline;
}
.text p{
    width: 100%;
    height: 73%;
    text-align: justify;
    line-height: 1.5;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    overflow: scroll;
}
.text>span{
    position: absolute;
    bottom: -10px;
    right: 22px;
}
.start{
    color: white;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.start h1{
    text-align: center;
    line-height: 100px;
    font-size: 38px;
}

/* column */
.person{
    width: 85%;
    margin: 0 auto;
    height: 258px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes person{
    0%{
        box-shadow: 0 0 20px white;
    }
    50%{
        box-shadow: 0 0 100px white;
    }
    100%{
        box-shadow: 0 0 20px white;
    }
}
.person-img{
    width: 180px;
    height: 180px;
    border-radius: 180px;
    margin: 0 auto;
    margin-top: 20px;
    animation: person;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.person-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 180px;
}
.intro{
    width: 100%;
    margin-top: 5px;
    height: 50px;
}
.intro>p{
    text-align: center;
    color: rgba(255,255,255,0.7);
    line-height: 50px;
    font-size: 24px;
}
.list{
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 10px;
}
.list-c{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: relative;
    overflow: hidden;
    transition-duration: 1s;
}
.list-c:hover{
    cursor: pointer;
    background: rgba(255,255,255,0.1);
    height:330px;
}
.list-c h1{
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: rgba(255,255,255,0.7);
    transition-duration: 1s;
}
.list-c i{
    position: absolute;
    right: 15px;
    top:11px;
    font-size: 18px;
    color: rgba(255,255,255,0.7);
    transform: rotate(90deg);
    transition-duration: 1s;
}
.list-c:hover > i{
    transform: rotate(0deg);
}
.list-c:hover > h1{
    color: rgba(255,255,255,1.0);
}
.list-text{
    width: 90%;
    margin: 0 auto;
    height: 280px;
    overflow: scroll;
    color: rgba(255,255,255,0.7);
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    line-height: 1.6;
    font-size: 14px;
    text-align: justify;
}
.schoolImg{
    width: 185px;
    height: 185px;
    margin: 0 auto;
}
.schoolImg2{
    width: 185px;
    height: 140px;
    margin: 0 auto;
}
.schoolImg img,.schoolImg2 img{
    width: 100%;
}
.schoolInfo{
    font-size: 18px;
    text-align: center;
    height: 55px;
    line-height: 55px;
}
.split{
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom:5px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.list-text a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.list-text a:hover{
    cursor: pointer;
    color: rgba(255,255,255,0.7);
    background: rgba(255,255,255,0.3);
}
.call{
    margin-top: 20px;
}
.msg{
    width: 84%;;
    height: 300px;
    position: absolute;
    bottom: 20px;
    left: 8%;
    background: rgba(255,255,255,0.1);
}
.msg>h1{
    text-align: center;
    line-height: 1.9;
    font-size: 24px;
    color: rgba(255,255,255,0.8);
}
.output{
    width: 85%;
    margin: 0 auto;
    height: 203px;
    overflow: scroll;
    color: rgba(255,255,255,0.6);
    border-top:1px solid rgba(255,255,255,0.1);
    border-bottom:1px solid rgba(255,255,255,0.1);
    padding-top: 5px;
}
.output>div{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 8px;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    border-left: 1px solid rgba(255,255,255,0.1);
    padding-left: 5px;
}
.input{
    width: 78%;
    margin: 0 auto;
    margin-top: 5px;
    height: 37px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.input input{
    height: 70%;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    background: transparent;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.input input:focus{
    background: rgba(255,255,255,0.4);
    border-bottom: 1px solid white;
}
.input i{
    width: 10%;
    color: rgba(255,255,255,0.6);
    font-size: 18px;
    display: block;
}
.input i:hover{
    cursor: pointer;
    color: rgba(255,255,255,1.0);
}
/* row */
.row{
    z-index: 999;
    background-color: rgba(7, 25, 47,0.95);
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: sticky;
    top:0;
    left:0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.row-c{
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    color: rgba(255,255,255,0.7);
    line-height: 49px;
}
.row-c:hover{
    cursor:pointer;
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,1.0);
}
/* PT */
.pt{
    width: 85%;
    margin: 0 auto;
    height: 150px;
}
.pt>h1{
    color: rgba(255,255,255,0.7);
    line-height: 1.5;
    font-size: 24px;
    padding-left: 5px;
}
.pt-ct{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.pt-img{
    width: 44px;
    height: 44px;
    margin-top: 5px;
}
.pt-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mod{
    width: 90px;
    height: 40px;
    border: 1px solid rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.7);
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: -70px;
    top:30px;
}
.mod:hover{
    background: rgba(255,255,255,0.3);
    color: white;
    cursor: pointer;
}